.radio {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    outline: none;
    border-radius: 20px;
    appearance: none;
    background-color: white;
    margin-bottom: 2px;
}
.radio:checked {
    background-color: #0C8346;
}
.div {
    margin-left: 10px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
}
