.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 105px;
}
.navigation-menu {
    background-color: #F6D33C;
}

/* Стили для логотипа */
.logo {
    display: inline-block;
    vertical-align: middle;
}

/* Стили для пунктов навигации */
.menu-list {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.menu-list li {
    display: inline-block;
    position: relative;
}

.menu-list li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

/* Стили для выпадающего меню */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.has-dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #f2f2f2;
}

/* Стили для линии под пунктом */
.menu-list li a:hover:after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 0;
}



/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
