.button {
    width: 34px;
    height: 34px;
    border-radius: 34px;
    background-color: transparent;
    border: black solid 2px;
}
.button:hover {
    color: white;
    background-color: #0C8346;
    border: transparent;
}
